$usual-top-pad: 0.3rem;
$usual-bottom-pad: 0.7rem;

$body-bg: #222;
$inactive-tab-bg: $body-bg;
$inactive-tab-icon: #555;

$positive: #56E2D9;
$positive-light: #5FFCF2;
$alt: #CF9893;
$light1: #E0D3DE;
$light2: #D8D0C1;
$dark: #292F36;

.input, .ui.buttons {
  margin-top: $usual-top-pad;
  margin-bottom: $usual-bottom-pad;
}

body {
  background-color: $body-bg;
}

#main {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.mobnavbar {
  flex: 0 1 auto;
  margin-top: 5px !important;

  .item {
    height: 102%;

    &:not(.active) {
      color: #bbb !important;
    }
  }
}

.segment {
  flex: 1 1 auto;
}

.positive {
  .ui.button {
    background-color: $positive;

    &:hover {
      background-color: $positive-light;
    }
  }
}

.loginPage {
  padding: 2em !important;
  margin: 0px 20px 20vh 20px !important;
}

.review {
  text-align: center;
}

.new-toilet-button {
  margin-bottom: 1em !important;
  text-align: center;
}

.fullheight-flexbox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ninety-flexbox {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.tabular.menu {
  border-bottom: 0px;
}

.ui.map-segment {
  padding: 0px;
}

.menu > a > :not(.active) {
  background-color: $inactive-tab-bg !important;
  color: $inactive-tab-icon !important;
}

.toilet-button-container {
  .toilet-button-bumper {
    flex-grow: 0 !important;
    i {
      font-size: 1.5em;
      line-height: 0.75em;
    }
  }
  .toilet-button {
    flex-shrink: 1 !important;

    .address {
      padding-bottom: 0.4em;
    }
  }
}

.minor-section {
  padding-bottom: 1em;

  .col {
    margin-right: 1em;
  }
}

.inline-button {
  display: inline-block;
}

.review-toilet {
  h4 {
    margin-top:20px !important;
  }

  &.review-mode {
    color: #eee;
    background-color: #333;
  }
}

.landing-container {
  background-color: #222;
  flex-direction: column;
  color: #eee;
  padding-bottom: 50%;

  h4 {
    margin-top: 0;
  }

  .landing-logo {
    width: 100px;
    padding-bottom: 50px;
  }
}