$usual-top-pad: 0.3rem;
$usual-bottom-pad: 0.7rem;

$body-bg: #ddd;
$inactive-tab-bg: $body-bg;
$inactive-tab-icon: #555;

.input, .ui.buttons {
  margin-top: $usual-top-pad;
  margin-bottom: $usual-bottom-pad;
}

body {
  background-color: $body-bg;
}

#main {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.mobnavbar {
  flex: 0 1 auto;
}

.segment {
  flex: 1 1 auto;
}

.loginPage {
  padding: 2em !important;
  margin: 0px 20px 20vh 20px !important;
}

.review {
  text-align: center;
}

.new-toilet-button {
  margin-bottom: 1em !important;
  text-align: center;
}

.fullheight-flexbox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ninety-flexbox {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.tabular.menu {
  border-bottom: 0px;
}

.ui.map-segment {
  padding: 0px;
}

.menu > a > :not(.active) {
  background-color: $inactive-tab-bg !important;
  color: $inactive-tab-icon !important;
}